{% extends 'base.html' %}

{% block title %}Organize a blood donation event{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <br/>
            <div class="card">
                <div class="card-header" style="font-weight: bold">Organize an Event</div>
                <div class="card-body">
                    {% if error_message %}
                        <p class="text-danger">{{ error_message }}</p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'roles/local_bodies/form_template.html' %}
                        <br>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
