.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
}

.text-center {
    text-align: center !important;
}

.body-gradient {
    margin-left: 10px;
    font-family: Lato, sans-serif;
    background-image: linear-gradient(to right, red, deeppink);
}

.box {
    background-color: #FFFFFF;
    width: 300px;
    height: 450px;
    border-radius: 10px;

}

.card-img-top {
    height: 100px;
}