{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="card" style="width: 600px;">
    <div class="card-header" style="font-weight: bold; font-size: 20px">What type of user are you?</div>
    <div class="card-body">
        <a class="btn btn-primary" href="{% url 'donor_signup' %}">Donor</a>
        <a class="btn btn-success" href="{% url 'recipient_signup' %}">Recipient</a>
        <a class="btn btn-info" href="{% url 'hospital_signup' %}">Hospital</a>
        <a class="btn btn-warning" href="{% url 'blood_bank_signup' %}">Blood Bank</a>
            <a class="btn btn-danger" href="{% url 'local_bodies_signup' %}">Local Body</a>
    </div>
</div>
{% endblock %}